In [1]:
# Dictionary:
    
# -> Dictionary is a collection dataype of Python
# -> Dictionary is a combination of Key and Value pair
# -> Dictionary is a semi-mutable
# -> Dictionary is represented by { }
# -> Dictionary Syntax ----  {key:value}

# How to create Dictionary

In [41]:
d1 = {1:"Apple", 2:"Orange",'A':'B','C':'D',"Mobile":"iPhone","Num1":1,"Num2":2}
print(d1)
print(type(d1))

{1: 'Apple', 2: 'Orange', 'A': 'B', 'C': 'D', 'Mobile': 'iPhone', 'Num1': 1, 'Num2': 2}
<class 'dict'>

# Access Itmes from Dictionary

In [42]:
print("Current Dictionary : ",d1)

print("Print Apple from Dictionary")
print(d1[1])

print("Print iPhone from Dictionary")
print(d1["Mobile"])

Current Dictionary :  {1: 'Apple', 2: 'Orange', 'A': 'B', 'C': 'D', 'Mobile': 'iPhone', 'Num1': 1, 'Num2': 2}
Print Apple from Dictionary
Apple
Print iPhone from Dictionary
iPhone

# Access the value using get()

In [43]:
print("Current Dictionary : ",d1)

x = d1.get("Mobile")
print(x)

Current Dictionary :  {1: 'Apple', 2: 'Orange', 'A': 'B', 'C': 'D', 'Mobile': 'iPhone', 'Num1': 1, 'Num2': 2}
iPhone

# Access the Key from Dictionary

In [45]:
print("Current Dictionary : ",d1)
k = d1.keys()
v = d1.values()
print("Keys List : ",list(k))
print("Values List : ",list(v))

Current Dictionary :  {1: 'Apple', 2: 'Orange', 'A': 'B', 'C': 'D', 'Mobile': 'iPhone', 'Num1': 1, 'Num2': 2}
Keys List :  [1, 2, 'A', 'C', 'Mobile', 'Num1', 'Num2']
Values List :  ['Apple', 'Orange', 'B', 'D', 'iPhone', 1, 2]

# Change Items

In [46]:
print("Current Dictionary : ",d1)

d1[2] = "Mango"
print("Updated Dictionary : ",d1)

Current Dictionary :  {1: 'Apple', 2: 'Orange', 'A': 'B', 'C': 'D', 'Mobile': 'iPhone', 'Num1': 1, 'Num2': 2}
Updated Dictionary :  {1: 'Apple', 2: 'Mango', 'A': 'B', 'C': 'D', 'Mobile': 'iPhone', 'Num1': 1, 'Num2': 2}

# Change item by using update()

In [47]:
print("Current Dictionary : ",d1)

d1.update({"Mobile":"Samsung"})
print("Updated Dictionary : ",d1)

Current Dictionary :  {1: 'Apple', 2: 'Mango', 'A': 'B', 'C': 'D', 'Mobile': 'iPhone', 'Num1': 1, 'Num2': 2}
Updated Dictionary :  {1: 'Apple', 2: 'Mango', 'A': 'B', 'C': 'D', 'Mobile': 'Samsung', 'Num1': 1, 'Num2': 2}

# Add new Value

In [48]:
print("Current Dictionary : ",d1)

d1["Color"] = "Red"
print("Updated Dictionary : ",d1)

Current Dictionary :  {1: 'Apple', 2: 'Mango', 'A': 'B', 'C': 'D', 'Mobile': 'Samsung', 'Num1': 1, 'Num2': 2}
Updated Dictionary :  {1: 'Apple', 2: 'Mango', 'A': 'B', 'C': 'D', 'Mobile': 'Samsung', 'Num1': 1, 'Num2': 2, 'Color': 'Red'}

In [49]:
print("Current Dictionary : ",d1)
d1["Color"] = "Blue"
print("Updated Dictionary : ",d1)

Current Dictionary :  {1: 'Apple', 2: 'Mango', 'A': 'B', 'C': 'D', 'Mobile': 'Samsung', 'Num1': 1, 'Num2': 2, 'Color': 'Red'}
Updated Dictionary :  {1: 'Apple', 2: 'Mango', 'A': 'B', 'C': 'D', 'Mobile': 'Samsung', 'Num1': 1, 'Num2': 2, 'Color': 'Blue'}

# Remove Items

In [50]:
print("Current Dictionary : ",d1)

Current Dictionary :  {1: 'Apple', 2: 'Mango', 'A': 'B', 'C': 'D', 'Mobile': 'Samsung', 'Num1': 1, 'Num2': 2, 'Color': 'Blue'}

In [51]:
d1.pop("Mobile")
print("Updated Dictionary : ",d1)

Updated Dictionary :  {1: 'Apple', 2: 'Mango', 'A': 'B', 'C': 'D', 'Num1': 1, 'Num2': 2, 'Color': 'Blue'}

In [52]:
print("Current Dictionary : ",d1)
d1.popitem()
print("Updated Dictionary : ",d1)

Current Dictionary :  {1: 'Apple', 2: 'Mango', 'A': 'B', 'C': 'D', 'Num1': 1, 'Num2': 2, 'Color': 'Blue'}
Updated Dictionary :  {1: 'Apple', 2: 'Mango', 'A': 'B', 'C': 'D', 'Num1': 1, 'Num2': 2}

In [54]:
print("Current Dictionary : ",d1)
del d1['Num1']
print("Updated Dictionary : ",d1)

Current Dictionary :  {1: 'Apple', 2: 'Mango', 'A': 'B', 'C': 'D', 'Num1': 1, 'Num2': 2}
Updated Dictionary :  {1: 'Apple', 2: 'Mango', 'A': 'B', 'C': 'D', 'Num2': 2}

In [55]:
print("Current Dictionary : ",d1)
d1.clear()
print("Updated Dictionary : ",d1)

Current Dictionary :  {1: 'Apple', 2: 'Mango', 'A': 'B', 'C': 'D', 'Num2': 2}
Updated Dictionary :  {}

# Dictionary using For Loop

In [56]:
d1 = {1:"Apple", 2:"Orange",'A':'B','C':'D',"Mobile":"iPhone","Num1":1,"Num2":2}
print(d1)

{1: 'Apple', 2: 'Orange', 'A': 'B', 'C': 'D', 'Mobile': 'iPhone', 'Num1': 1, 'Num2': 2}

In [60]:
print("Current Dictionary : ",d1)
for x, y in d1.items():
    print(x,y)

Current Dictionary :  {1: 'Apple', 2: 'Orange', 'A': 'B', 'C': 'D', 'Mobile': 'iPhone', 'Num1': 1, 'Num2': 2}
1 Apple
2 Orange
A B
C D
Mobile iPhone
Num1 1
Num2 2

In [70]:
for x,y in d1.items():
    print(x)

1
2
A
C
Mobile
Num1
Num2

In [71]:
for x,y in d1.items():
    print(y)

Apple
Orange
B
D
iPhone
1
2

In [75]:
for k in d1.keys():
    print(k)

1
2
A
C
Mobile
Num1
Num2

In [74]:
for v in d1.values():
    print(v)

Apple
Orange
B
D
iPhone
1
2

# Storing Multiple Values on a Single Key

In [110]:
d2 = {"Fruits":["Apple","Mango","Orange"],
     "Mobiles":["Samsung","iPhone", "Xiaomi"]}
print(d2)

print(d2["Fruits"][0:1])
print(d2["Mobiles"][0:2])

{'Fruits': ['Apple', 'Mango', 'Orange'], 'Mobiles': ['Samsung', 'iPhone', 'Xiaomi']}
['Apple']
['Samsung', 'iPhone']

# Exercise

In [112]:
# -> Dictionary name should be eCommerce
# -> Category - Mobile, Laptops, Men(Footwares, Clothes, Watches), Women(Footwares, Clothes, Jewerly) with their Prices

In [133]:
eCommerce = {
    "Mobile" :{"Samsung":40000,"iPhone":58000,"Xiaomi":24000},
    "Men":{
        "Footwares":["Shoes","Slippers","Crocs"],
        "Clothes" :("T-Shirts","Shirts"),
        "Watches"  :["Watch1","Watch2","Watch3"]        
    },
    "Women":{
        "Footwares":["Shoes","Slippers","Crocs"],
        "Clothes" :("T-Shirts","Shirts"),
        "Jewerly"  :["J1","J2","J3",[70000,80000,90000]]
    },
    "Laptop" :["HP","Dell","Acer"],
}
print(eCommerce)

{'Mobile': {'Samsung': 40000, 'iPhone': 58000, 'Xiaomi': 24000}, 'Men': {'Footwares': ['Shoes', 'Slippers', 'Crocs'], 'Clothes': ('T-Shirts', 'Shirts'), 'Watches': ['Watch1', 'Watch2', 'Watch3']}, 'Women': {'Footwares': ['Shoes', 'Slippers', 'Crocs'], 'Clothes': ('T-Shirts', 'Shirts'), 'Jewerly': ['J1', 'J2', 'J3', [70000, 80000, 90000]]}, 'Laptop': ['HP', 'Dell', 'Acer']}

In [125]:
# eCommerce.update({"Mobile":{"Samsung":50000}})
# print(eCommerce)

# Mobile - All the Key and Values

# Men - Footware (Slipper)
# Men - Clothes (Shirts)
# Men - Watches (Watch2)

# Women - Footware (Crocs)
# Women - Clothes (T-Shirts)
# Wome - Jewerly (J1), All Prices

# Laptop -- Dell

In [188]:
print(eCommerce["Mobile"])
print(eCommerce["Men"]["Footwares"][1])
print(eCommerce["Men"]["Clothes"][1])
print(eCommerce["Men"]["Watches"][1])
print(eCommerce["Women"]["Footwares"][2])
print(eCommerce["Women"]["Clothes"][0])
print(eCommerce["Women"]["Jewerly"][0],":",eCommerce["Women"]["Jewerly"][3][0:3])
print(eCommerce["Laptop"][1])

{'Samsung': 40000, 'iPhone': 58000, 'Xiaomi': 24000}
Slippers
Shirts
Watch2
Crocs
T-Shirts
J1 : [70000, 80000, 90000]
Dell