# How to Create List?

In [2]:
l1 = [1,2,3,4,5,10.5,11.5,12.5,13.5,'A','B','C','D',"Marilag","Vanessa","Lino","Benny"]
print(l1)
print(type(l1))

[1, 2, 3, 4, 5, 10.5, 11.5, 12.5, 13.5, 'A', 'B', 'C', 'D', 'Marilag', 'Vanessa', 'Lino', 'Benny']
<class 'list'>

# List Slicing

In [3]:
print("Current List :", l1)
print("Size: ",len(l1))

print("*****Print a value between 1 to 10*****")
print(l1[1:10])

print("*****Print all the value after index 2*****")
print(l1[2::])

print("*****Print alternate value between 1 to 10*****")
print(l1[0::2])

print("*****Print value on index 8*****")
print(l1[8])

print("*****Print last value of your list*****")
print(l1[-1])

Current List : [1, 2, 3, 4, 5, 10.5, 11.5, 12.5, 13.5, 'A', 'B', 'C', 'D', 'Marilag', 'Vanessa', 'Lino', 'Benny']
Size:  17
*****Print a value between 1 to 10*****
[2, 3, 4, 5, 10.5, 11.5, 12.5, 13.5, 'A']
*****Print all the value after index 2*****
[3, 4, 5, 10.5, 11.5, 12.5, 13.5, 'A', 'B', 'C', 'D', 'Marilag', 'Vanessa', 'Lino', 'Benny']
*****Print alternate value between 1 to 10*****
[1, 3, 5, 11.5, 13.5, 'B', 'D', 'Vanessa', 'Benny']
*****Print value on index 8*****
13.5
*****Print last value of your list*****
Benny

# List Method

In [4]:
print("Curret List: ",l1)
l1.insert(5,"Joseph")
print("Update List", l1)

Curret List:  [1, 2, 3, 4, 5, 10.5, 11.5, 12.5, 13.5, 'A', 'B', 'C', 'D', 'Marilag', 'Vanessa', 'Lino', 'Benny']
Update List [1, 2, 3, 4, 5, 'Joseph', 10.5, 11.5, 12.5, 13.5, 'A', 'B', 'C', 'D', 'Marilag', 'Vanessa', 'Lino', 'Benny']

In [5]:
print("Current List: ",l1)
print("Size: ",len(l1))
l1[8] = "Sunit"
print("Update List: ",l1)

Current List:  [1, 2, 3, 4, 5, 'Joseph', 10.5, 11.5, 12.5, 13.5, 'A', 'B', 'C', 'D', 'Marilag', 'Vanessa', 'Lino', 'Benny']
Size:  18
Update List:  [1, 2, 3, 4, 5, 'Joseph', 10.5, 11.5, 'Sunit', 13.5, 'A', 'B', 'C', 'D', 'Marilag', 'Vanessa', 'Lino', 'Benny']

In [6]:
print("Current List: ", l1)
l1.append("Mango")
print("Update List: ",l1)
print("Size: ",len(l1))

Current List:  [1, 2, 3, 4, 5, 'Joseph', 10.5, 11.5, 'Sunit', 13.5, 'A', 'B', 'C', 'D', 'Marilag', 'Vanessa', 'Lino', 'Benny']
Update List:  [1, 2, 3, 4, 5, 'Joseph', 10.5, 11.5, 'Sunit', 13.5, 'A', 'B', 'C', 'D', 'Marilag', 'Vanessa', 'Lino', 'Benny', 'Mango']
Size:  19

# Remove Method

In [7]:
print("Current List: ", l1)
print("Size: ",len(l1))

l1.remove(2)
print("Update List: ",l1)
print("Size: ",len(l1))

Current List:  [1, 2, 3, 4, 5, 'Joseph', 10.5, 11.5, 'Sunit', 13.5, 'A', 'B', 'C', 'D', 'Marilag', 'Vanessa', 'Lino', 'Benny', 'Mango']
Size:  19
Update List:  [1, 3, 4, 5, 'Joseph', 10.5, 11.5, 'Sunit', 13.5, 'A', 'B', 'C', 'D', 'Marilag', 'Vanessa', 'Lino', 'Benny', 'Mango']
Size:  18

In [8]:
print("Current List: ", l1)
print("Size: ",len(l1))

l1.pop()
print("Update List: ",l1)
print("Size: ",len(l1))

Current List:  [1, 3, 4, 5, 'Joseph', 10.5, 11.5, 'Sunit', 13.5, 'A', 'B', 'C', 'D', 'Marilag', 'Vanessa', 'Lino', 'Benny', 'Mango']
Size:  18
Update List:  [1, 3, 4, 5, 'Joseph', 10.5, 11.5, 'Sunit', 13.5, 'A', 'B', 'C', 'D', 'Marilag', 'Vanessa', 'Lino', 'Benny']
Size:  17

In [9]:
print("Current List: ", l1)
print("Size: ",len(l1))

del l1[5]
print("Update List: ",l1)
print("Size: ",len(l1))

Current List:  [1, 3, 4, 5, 'Joseph', 10.5, 11.5, 'Sunit', 13.5, 'A', 'B', 'C', 'D', 'Marilag', 'Vanessa', 'Lino', 'Benny']
Size:  17
Update List:  [1, 3, 4, 5, 'Joseph', 11.5, 'Sunit', 13.5, 'A', 'B', 'C', 'D', 'Marilag', 'Vanessa', 'Lino', 'Benny']
Size:  16

In [10]:
print("Current List: ", l1)
print("Size: ",len(l1))

l1.clear()
print("Update List: ",l1)
print("Size: ",len(l1))

Current List:  [1, 3, 4, 5, 'Joseph', 11.5, 'Sunit', 13.5, 'A', 'B', 'C', 'D', 'Marilag', 'Vanessa', 'Lino', 'Benny']
Size:  16
Update List:  []
Size:  0

# Nested List

In [11]:
eCommerce = [
    "Mobiles", ["Samsung","OnePlus","iPhone",[14000,20000,40000]],
    "Laptops",["Dell","Hp","Acer",[25000,35000,45000]],
    "Clothes",["Men","Women",[50,100]]
]

print(eCommerce)

['Mobiles', ['Samsung', 'OnePlus', 'iPhone', [14000, 20000, 40000]], 'Laptops', ['Dell', 'Hp', 'Acer', [25000, 35000, 45000]], 'Clothes', ['Men', 'Women', [50, 100]]]

In [12]:
# from mobile -- print samsung, mobile price - 20000,40000
# from Laptop -- print hp,  price - 35000
# from Clothes -- print Men and its quantity

In [25]:
print(eCommerce[1][0])
print(eCommerce[1][3][1:3])

print(eCommerce[3][1])
print(eCommerce[3][3][1])

print(eCommerce[5][0])
print(eCommerce[5][2][0])

Samsung
[20000, 40000]
Hp
35000
Men
50

In [42]:
print(eCommerce[1][0],": Mobile Price :",eCommerce[1][3][1],",",eCommerce[1][3][2])
print(eCommerce[3][1],": Price :",eCommerce[3][3][1])
print(eCommerce[5][0],": Qty :",eCommerce[5][2][0])

Samsung : Mobile Price : 20000 , 40000
Hp : Price : 35000
Men : Qty : 50

# Student Application using List and List Methods

In [14]:
### If user press 1 -- User can insert a multiple value in list
### If user press 2 -- user can update the list according to the index value
### If user press 3 -- user can see all the value of the list
### If user press 4 -- user can delete  or remove particular value from a list
### If user press 5 -- user can delete all the values from the list
### If user press 6 -- Say Thank you Goodbye!