In [2]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [1]:
for i in range(1,6):
    for j in range(i):
        print("*",end="")
    print()

*
**
***
****
*****

In [2]:
for i in range(5,0,-1):
    for j in range(i):
        print("*",end="")
    print()

*****
****
***
**
*

In [13]:
for i in range(1,6,1):
    for j in range(i):
        print("A",end="")
    print()

A
AA
AAA
AAAA
AAAAA

In [1]:
n=8
for row in range(1,n):
    for col in range(1,row-1):
        print(col,end="")
    print()

1
12
123
1234
12345

# Print all the value one by one using For Loop

In [1]:
l2 = ["Apple","Mango","Kiwi","Orange"]

for i in l2:
    print(i, " = ",len(i))

Apple  =  5
Mango  =  5
Kiwi  =  4
Orange  =  6