In [2]:
# Set
# -> Set is python data collection datatype
# -> Set represent by curly bracket {}
# -> Set is only having a unique item
# -> Set not follows the sequence
#->  Set is immutable

# How to create set?

In [3]:
s1 = {"Apple","Banana","Kiwi",1,2,3,10.5,11.5}
print(s1)
print(type(s1))

{1, 2, 3, 10.5, 11.5, 'Banana', 'Apple', 'Kiwi'}
<class 'set'>

In [6]:
for i in s1:
    print(i)

1
2
3
10.5
11.5
Banana
Apple
Kiwi

In [8]:
print("Apple" in s1)

True