In [ ]:
# Tuple:

# ->Tuple is a collection of different datatype value
# ->Tuple works on index value
# ->Tuple is represent by ()
# ->Tuple is immutable (not changable)

# How to create a Tuple?

In [1]:
t1 = (1,2,3,4,5,"Apple","Kiwi","Orange",'A','B','C','D',10.5,11.5,12.5)
print(t1)
print(type(t1))

(1, 2, 3, 4, 5, 'Apple', 'Kiwi', 'Orange', 'A', 'B', 'C', 'D', 10.5, 11.5, 12.5)
<class 'tuple'>

# Tuple Slicing

In [15]:
print("Print value after index 1")
print(t1[1])

print("Print value between index 1 to 6")
print(t1[1:5])

print("Print alternate value between index 1 to 8")
print(t1[1:7:2])

print("Print last value of the tuple")
print(t1[-1])

print("Print 6th index value of tuple")
print(t1[5])

Print value after index 1
2
Print value between index 1 to 6
(2, 3, 4, 5)
Print alternate value between index 1 to 8
(2, 4, 'Apple')
Print last value of the tuple
12.5
Print 6th index value of tuple
Apple

# How to convert tuple into List

In [19]:
print("Current Tuple : ",t1)
print(type(t1))

l1 = list(t1)
print("Updated Tuple : ",l1)
print(type(l1))

t2 = tuple(l1)
print("Updated Tuple : ",t2)
print(type(t2))

Current Tuple :  (1, 2, 3, 4, 5, 'Apple', 'Kiwi', 'Orange', 'A', 'B', 'C', 'D', 10.5, 11.5, 12.5)
<class 'tuple'>
Updated Tuple :  [1, 2, 3, 4, 5, 'Apple', 'Kiwi', 'Orange', 'A', 'B', 'C', 'D', 10.5, 11.5, 12.5]
<class 'list'>
Updated Tuple :  (1, 2, 3, 4, 5, 'Apple', 'Kiwi', 'Orange', 'A', 'B', 'C', 'D', 10.5, 11.5, 12.5)
<class 'tuple'>

# Tuple with For Loop

In [25]:
print ("Current Tuple : ",t1)
for i in t1:
    print(i)

Current Tuple :  (1, 2, 3, 4, 5, 'Apple', 'Kiwi', 'Orange', 'A', 'B', 'C', 'D', 10.5, 11.5, 12.5)
1
2
3
4
5
Apple
Kiwi
Orange
A
B
C
D
10.5
11.5
12.5

In [26]:
for i in range(len(t1)):
    print(t1[i])

1
2
3
4
5
Apple
Kiwi
Orange
A
B
C
D
10.5
11.5
12.5